<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
<servlet>
<servlet-name>hello</servlet-name>
<servlet-class>HelloWorld</servlet-class>
</servlet>

<servlet>
<servlet-name>getParam</servlet-name>
<servlet-class>ServletGetParameters</servlet-class>
</servlet>

<servlet>
<servlet-name>outputFile</servlet-name>
<servlet-class>outputFile</servlet-class>
</servlet>

<servlet>
<servlet-name>sample1</servlet-name>
<servlet-class>Sample1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>
hello
</servlet-name>
<url-pattern>
/servlet/hello
</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>
getParam
</servlet-name>
<url-pattern>
/servlet/ServletGetParameters
</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>outputFile</servlet-name>
<url-pattern>
/servlet/outputFile</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>sample1</servlet-name>
<url-pattern>/servlet/sample1</url-pattern>
</servlet-mapping>

</web-app>